* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
}

#addBtn {
    padding: 10px 20px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#addBtn:hover {
    background: #3498db;
}

#taskList {
    margin-top: 20px;
    list-style: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.task.completed span {
    text-decoration: line-through;
    color: gray;
}

.task span {
    cursor: pointer;
    flex: 1;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}